<div class="body-adapative">
    <div class="sidebar-left">
        <div class="util">
            <div class="logo" (click)="itens('inicio')">
                <!-- <img src="../../../content/images/Logo.svg" alt="logo"> -->

            </div>
            <div class="menu">
                <div class="item imagem_perfil" (click)="itens('perfil')" matTooltip="Perfil">

                    <figure *ngIf="account.imageUrl">
                        <img [src]="account.imageUrl" alt="avatar do usuario" class="avatar">
                    </figure>
                    <div *ngIf="!account.imageUrl" class="avatar"></div>
                    <div>{{account.login}}</div>
                </div>
                <div class="item inicio" (click)="itens('inicio')" matTooltip="Inicio"><i
                        class="bi bi-house icon-inicio"></i> <span class="text-icon">Inicio</span>
                </div>
                <div class="item perfil" (click)="itens('perfil')" matTooltip="Perfil"><i
                        class="bi bi-person icon-perfil"></i> <span class="text-icon">Perfil</span>
                </div>
                <!-- <div class="item configuracoes" (click)="itens('config')" disabled matTooltip="Configurações"><i
                        class="bi bi-gear icon-configuracoes"></i>
                    <span class="text-icon">Config.</span>
                </div> -->
                <div class="item configuracoes" disabled matTooltip="Configurações"><i
                        class="bi bi-gear icon-configuracoes"></i>
                    <span class="text-icon">Config.</span>
                </div>
                <div class="item sair" (click)="logout()" matTooltip="Sair"><i class="bi bi-door-open icon-sair"></i>
                    <span class="text-icon">Sair</span>
                </div>
            </div>
        </div>

    </div>

    <div class="item-principal main">
        <div class="card-post">
            <h5>Imagem de Perfil</h5>
            <div class="avatar" style="display: flex;
                justify-content: center;
                align-items: center;">
                <figure *ngIf="inputImgUrl.length > 0">
                    <img [src]="account.imageUrl" alt="avatar do usuario" class="avatar" style="border-radius: 50%;
                    border: 2px solid;
                    object-fit: cover;
                    width: 150px;
                    height: 150px;">
                </figure>
                <div *ngIf="inputImgUrl.length == 0" style="background: url('../../../content/images/undraw_male_avatar_323b.svg')
                    no-repeat;
                    background-repeat: no-repeat;
                    background-origin: content-box;
                    background-size: cover;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    margin-bottom: 2rem;"></div>


            </div>
            <div style="width: 100%;">
                Alterar imagem de perfil:
                <input class="mt-1 mb-1" type="text" [(ngModel)]="inputImgUrl" style="width: 100%;
                    padding: 6px;
                    border-radius: 0.5rem;
                    border: 1px solid;" />
                <button type="button" class="mt-1 mb-1 btn btn_feed" (click)="changeImgPerfil()">
                    Salvar Imagem de Perfil
                </button>
            </div>


        </div>
        <div class="card-post">
            <h5>Resetar Preferências </h5>
            <p>Resetar preferências e utilizar ontoSNOPI para inferência</p>
            <button type="button" class="mt-3 mb-3 btn btn_feed" (click)="resetProfile()">
                Resetar Perfil
            </button>
        </div>
        <div class="card-post">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h5 id="jhi-preferences-heading">Preferências</h5>

                <div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_darkMode">Modo Escuro</label>
                        <select class="form-control" name="darkMode" formControlName="darkMode"
                            style="border: 1px solid;" id="field_darkMode">
                            <option value="TRUE">
                                <i class="bi bi-brightness-alt-high-fill"></i>
                                Ativar
                            </option>
                            <option value="FALSE">
                                <i class="bi bi-brightness-alt-high"></i>
                                Desativado
                            </option>
                            <option value="AUTO">Automático</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_experienceLevelMode">Nível de Experiência</label>
                        <select class="form-control" name="experienceLevelMode" formControlName="experienceLevelMode"
                            style="border: 1px solid;" id="field_experienceLevelMode">
                            <option value="BASICMODE">Baixo</option>
                            <option value="AVERAGEMODE">Médio</option>
                            <option value="HIGHMODE">Alto</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_fontMode">Tamanho da Fonte</label>
                        <select class="form-control" name="fontMode" formControlName="fontMode"
                            style="border: 1px solid;" id="field_fontMode">
                            <option value="DECREASE">Pequena</option>
                            <option value="NORMAL">Normal</option>
                            <option value="INCREASE">Grande</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_contrastMode">Modo de Alto Contraste</label>
                        <input type="checkbox" class="form-check-input" name="contrastMode" id="field_contrastMode"
                            style="margin-left: 1rem;" formControlName="contrastMode" />
                    </div>


                    <div class="form-group" matTooltip="Modo Daltonismo - em teste">
                        <label class="form-control-label" for="field_colorVisionMode">Modo
                            Daltonismo</label>
                        <input type="checkbox" class="form-check-input" name="colorVisionMode"
                            style="margin-left: 1rem;" id="field_colorVisionMode" formControlName="colorVisionMode"
                            checked disabled />
                    </div>
                </div>

                <div>


                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="mt-3 mb-3 btn btn_feed">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar Preferências</span>
                    </button>
                </div>
            </form>
        </div>
        <button type="button" id="cancel-save" class="mt-3 btn btn_feed btn_feed-cor-secondary"
            (click)="previousState()">
            <span>Voltar</span>
        </button>
    </div>



    <div class="sidebar-right">
        <div class="util">
            <div class=" foco">

            </div>
            <div class="card-sidebar-right destaques">
                # Destaques
                <div class="mt-1 mb-1">
                    <div *ngIf="destaques.length == 0">Sem Destaques </div>
                    <div *ngFor="let destaque of destaques; let i = index" class="destaques">
                        {{i+1}}º - {{destaque[0]}}
                    </div>
                </div>

            </div>
            <div class="card-sidebar-right parcerias">
                # Projeto
                <div class="image">
                    <a href="https://nemo.inf.ufes.br/" target="_blank">
                        <img src="http://intersep.nemo.inf.ufes.br/wp-content/themes/Nemo/assets/img/nemo-sobre.svg"
                            alt="Acessar link para página Nemo - UFES"
                            style="width: 100px; height: 100px; object-fit: cover;">
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
