<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-preferences-heading">Create or edit a Preferences</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_darkMode">Dark Mode</label>
                    <select class="form-control" name="darkMode" formControlName="darkMode" id="field_darkMode">
                        <option value="TRUE">TRUE</option>
                        <option value="FALSE">FALSE</option>
                        <option value="AUTO">AUTO</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_experienceLevelMode">Experience Level Mode</label>
                    <select class="form-control" name="experienceLevelMode" formControlName="experienceLevelMode" id="field_experienceLevelMode">
                        <option value="BASICMODE">BASICMODE</option>
                        <option value="AVERAGEMODE">AVERAGEMODE</option>
                        <option value="HIGHMODE">HIGHMODE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fontMode">Font Mode</label>
                    <select class="form-control" name="fontMode" formControlName="fontMode" id="field_fontMode">
                        <option value="DECREASE">DECREASE</option>
                        <option value="NORMAL">NORMAL</option>
                        <option value="INCREASE">INCREASE</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_contrastMode">Contrast Mode</label>
                    <input type="checkbox" class="form-control" name="contrastMode" id="field_contrastMode"
                           formControlName="contrastMode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_colorVisionMode">Color Vision Mode</label>
                    <input type="checkbox" class="form-control" name="colorVisionMode" id="field_colorVisionMode"
                           formControlName="colorVisionMode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
