<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="preferences">
            <h2><span>Preferences</span> {{ preferences.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Dark Mode</span></dt>
                <dd>
                    <span>{{ preferences.darkMode }}</span>
                </dd>
                <dt><span>Experience Level Mode</span></dt>
                <dd>
                    <span>{{ preferences.experienceLevelMode }}</span>
                </dd>
                <dt><span>Font Mode</span></dt>
                <dd>
                    <span>{{ preferences.fontMode }}</span>
                </dd>
                <dt><span>Contrast Mode</span></dt>
                <dd>
                    <span>{{ preferences.contrastMode }}</span>
                </dd>
                <dt><span>Color Vision Mode</span></dt>
                <dd>
                    <span>{{ preferences.colorVisionMode }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{ preferences.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/preferences', preferences.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
