<div class="body-adapative">
    <div class="sidebar-left">
        <div class="util">
            <div class="logo" (click)="itens('inicio')">
                <!-- <img src="../../../content/images/Logo.svg" alt="logo"> -->
            </div>
            <div class="menu">
                <div class="item imagem_perfil" (click)="itens('perfil')" matTooltip="Perfil">

                    <figure *ngIf="account.imageUrl">
                        <img [src]="account.imageUrl" alt="avatar do usuario" class="avatar">
                    </figure>
                    <div *ngIf="!account.imageUrl" class="avatar"></div>
                    <div>{{account.login}}</div>
                </div>
                <div class="item inicio" (click)="itens('inicio')" matTooltip="Inicio"><i
                        class="bi bi-house icon-inicio"></i> <span class="text-icon">Inicio</span>
                </div>
                <div class="item perfil" (click)="itens('perfil')" matTooltip="Perfil"><i
                        class="bi bi-person icon-perfil"></i> <span class="text-icon">Perfil</span>
                </div>
                <div class="item configuracoes" (click)="itens('config')" disabled matTooltip="Configurações"><i
                        class="bi bi-gear icon-configuracoes"></i>
                    <span class="text-icon">Config.</span>
                </div>
                <div class="item sair" (click)="logout()" matTooltip="Sair"><i class="bi bi-door-open icon-sair"></i>
                    <span class="text-icon">Sair</span>
                </div>
            </div>
        </div>

    </div>

    <div class="main main_perfil">
        <div id="header_perfil" class="card-post header_perfil">
            <div class="avatar">
                <figure *ngIf="user?.imageUrl">
                    <img [src]="user?.imageUrl" alt="avatar do usuario" class="avatar" style="border: 2px solid;">
                </figure>
                <div *ngIf="!user?.imageUrl" class="avatar"></div>
            </div>
            <div class="name">{{user?.login}}</div>
            <div class="mt-1" matTooltip="Seguidores">
                <i class="bi bi-people-fill"></i>
                {{anotherUserProfile?.listFriends?.length}}
            </div>
            <div class="seguir" *ngIf="user?.id != account?.id">
                <button class="btn_feed btn_seguir" *ngIf="!isFriend" (click)="friends()">
                    <i class="bi bi-bookmark-heart"></i> Seguir</button>
                <button class="btn_feed btn_feed-cor-secondary btn_seguir" *ngIf="isFriend" (click)="friends()">
                    <i class="bi bi-bookmark-heart-fill"></i> Deixar de Seguir</button>
            </div>
            <div class="descricao"></div>
        </div>
        <div id="body_perfil" class="body_perfil">
            <mat-tab-group (selectedTabChange)="carregar($event)">
                <mat-tab label="Geral">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="Respostas">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="Videos">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="PDF">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="Artigos">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="Conferencia">
                    <div class="feed">
                        <div *ngIf="feed.length == 0" class="mt-4">
                            <h2 style="text-align: center; font-size: large !important;">Ops! Nada Encontrado</h2>
                            <img src="../../../content/images/undraw_empty_street_sfxm.svg" width="100%"
                                alt="Nada encontrado">
                        </div>
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>

    <div class="sidebar-right">
        <div class="util">
            <div class="card-sidebar-right foco">

            </div>
            <div class="card-sidebar-right destaques">
                # Destaques
            </div>
            <div class="card-sidebar-right parcerias">
                # Projeto
                <div class="image">
                    <a href="https://nemo.inf.ufes.br/" target="_blank">
                        <img src="http://intersep.nemo.inf.ufes.br/wp-content/themes/Nemo/assets/img/nemo-sobre.svg"
                            alt="Acessar link para página Nemo - UFES"
                            style="width: 100px; height: 100px; object-fit: cover;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
