<div class="body-adapative">
    <div class="sidebar-left">
        <div class="util">
            <div class="logo" (click)="itens('inicio')">
                <img src="../../../content/images/Logo.svg" alt="logo">
            </div>
            <div class="menu">
                <div class="item imagem_perfil" (click)="itens('perfil')">

                    <figure *ngIf="account.imageUrl">
                        <img [src]="account.imageUrl" alt="avatar do usuario" class="avatar">
                    </figure>
                    <div *ngIf="!account.imageUrl" class="avatar"></div>
                    <div>{{account.login}}</div>
                </div>
                <div class="item inicio" (click)="itens('inicio')"><i class="bi bi-house icon-inicio"></i> <span
                        class="text-icon">Inicio</span>
                </div>
                <div class="item perfil" (click)="itens('perfil')"><i class="bi bi-person icon-perfil"></i> <span
                        class="text-icon">Perfil</span>
                </div>
                <div class="item configuracoes" (click)="itens('config')"><i class="bi bi-gear icon-configuracoes"></i>
                    <span class="text-icon">Config.</span>
                </div>
                <div class="item sair" (click)="logout()"><i class="bi bi-door-open icon-sair"></i> <span
                        class="text-icon">Sair</span>
                </div>
            </div>
        </div>

    </div>

    <div class="main main_perfil">
        <div id="header_perfil" class="header_perfil">
            <div class="avatar">
                <figure *ngIf="user?.imageUrl">
                    <img [src]="user?.imageUrl" alt="avatar do usuario" class="avatar" style="border: 2px solid;">
                </figure>
                <div *ngIf="!user?.imageUrl" class="avatar"></div>
            </div>
            <div class="name">{{user?.login}}</div>
            <div class="seguir" *ngIf="user?.id != account?.id">
                <button class="btn_feed btn_seguir">
                    <i class="bi bi-bookmark-heart"></i> Seguir</button>
                <button class="btn_feed btn_feed-cor-secondary btn_seguir">
                    <i class="bi bi-bookmark-heart-fill"></i> Deixar de Seguir</button>
            </div>
            <div class="descricao"></div>
        </div>
        <div id="body_perfil" class="body_perfil">
            <mat-tab-group>
                <mat-tab label="Todos">
                    <div class="feed">
                        <div *ngFor="let post of feed">
                            <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                                class="resposta-mini-card newItem">Em reposta ...
                            </div>
                            <div class="card-post newItem">
                                <div class="grid header">
                                    <div class="avatar">
                                        <figure *ngIf="post.userImagem">
                                            <img [src]="post.userImagem" alt="avatar do usuario" class="avatar_img">
                                        </figure>
                                        <div *ngIf="!post.userImagem" class="img"></div>
                                    </div>
                                    <div class="nick">{{post.userLogin}}</div>
                                    <div class="date">{{timePublicacao(post.date)}}</div>
                                </div>
                                <div class="grid body">
                                    <div class="corpo">{{post.body}}</div>
                                </div>
                                <div class="grid footer">
                                    <div class="actions">
                                        <button *ngIf="account.id == post.userId" (click)="deletePost(post)"
                                            mat-icon-button color="primary"
                                            aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                        <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                            color="primary" aria-label="Example icon button with a heart icon">
                                            <i class="bi bi-link-45deg"></i>
                                        </button>
                                        <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                            aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                            <i class="bi bi-chat-square-text"></i>
                                        </button>
                                        <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                            (click)="curti(post)">
                                            <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                            <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                            </i>
                                        </button>
                                        <span class="actions-info">{{post.likeDes.length}}</span>

                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </mat-tab>
                <mat-tab label="Respostas">
                    Nada aqui
                </mat-tab>
                <mat-tab label="Videos">
                    Nada aqui
                </mat-tab>
                <mat-tab label="PDF's">
                    Nada aqui
                </mat-tab>
                <mat-tab label="Artigos">
                    Nada aqui
                </mat-tab>
                <mat-tab label="Conferencia">
                    Nada aqui
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>

    <div class="sidebar-right">03</div>
</div>
