<jhi-search></jhi-search>
<div class="body-adapative">
    <div class="sidebar-left">
        <div class="util">
            <div class="logo" (click)="itens('inicio')">
                <img src="../../../content/images/Logo.svg" alt="logo">
            </div>
            <div class="menu">
                <div class="item imagem_perfil" (click)="itens('perfil')">

                    <figure *ngIf="account.imageUrl">
                        <img [src]="account.imageUrl" alt="avatar do usuario" class="avatar">
                    </figure>
                    <div *ngIf="!account.imageUrl" class="avatar"></div>
                    <div>{{account.login}}</div>
                </div>
                <div class="item inicio" (click)="itens('inicio')"><i class="bi bi-house icon-inicio"></i> <span
                        class="text-icon">Inicio</span>
                </div>
                <div class="item perfil" (click)="itens('perfil')"><i class="bi bi-person icon-perfil"></i> <span
                        class="text-icon">Perfil</span>
                </div>
                <div class="item configuracoes" (click)="itens('config')" disabled><i
                        class="bi bi-gear icon-configuracoes"></i>
                    <span class="text-icon">Config.</span>
                </div>
                <div class="item sair" (click)="logout()"><i class="bi bi-door-open icon-sair"></i> <span
                        class="text-icon">Sair</span>
                </div>
            </div>
        </div>

    </div>

    <div class="item-principal main">

        <!-- Busca -->
        <div class="input-busca" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <input id="input-busca" class="input" type="text" placeholder="Busque aqui..." [(ngModel)]="inputSearch">
            <button class="btn_feed" (click)="search()"><i class="bi bi-search"></i></button>
        </div>

        <!-- Post -->
        <div class="input-post" [hidden]="isSearch">
            <textarea id="area-text" class="area-text" maxlength="200" placeholder=" Tudo bem com você?"
                [(ngModel)]="input" (ngModelChange)="checkinput($event)"></textarea>
            <button class="btn_feed btn_feed-cor-secondary" (click)="changeLink()"><i
                    class="bi bi-paperclip"></i></button>
            <button class="btn_feed" (click)="createPost()"><i class="bi bi-send"></i></button>
            <form class="link">
                <div class="form-row" id="link">
                    <div class="col-4">
                        <div class="form-group">
                            <select class="form-control" [(ngModel)]="tipoPost" id="tipoPost"
                                [ngModelOptions]="{standalone: true}">
                                <option value="NORMAL">Normal</option>
                                <option value="VIDEOS">Vídeo</option>
                                <option value="RECOMENDACAO">PDF</option>
                                <option value="ARTIGO">Artigo</option>
                                <option value="CONFERENCIA">Conferência</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" id="inputLink" placeholder="Insira um link aqui..."
                            [(ngModel)]="inputLink" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </form>
        </div>

        <div [hidden]="!isSearch">
            <button class="btn_feed" (click)="clean()">Limpar</button>
        </div>

        <!-- Separarator -->
        <div class="separator"></div>

        <div class="feed">
            <div *ngFor="let post of feed">
                <div *ngIf="post.comentarioDeId" (click)="comentar(post.comentarioDeId)"
                    class="resposta-mini-card newItem">Em reposta a {{post.userComentario}}
                </div>
                <div class="card-post newItem">
                    <div class="grid header">
                        <div class="avatar" (click)="perfilPost(post.userLogin)">

                            <img *ngIf="post.userImagem" [src]="post.userImagem" alt="avatar do usuario"
                                class="avatar_img">

                            <div *ngIf="!post.userImagem" class="img"></div>
                        </div>
                        <div class="nick">{{post.userLogin}}</div>
                        <div class="date">{{timePublicacao(post.date)}}</div>
                    </div>
                    <div class="grid body">
                        <div class="corpo">{{post.body}}</div>
                    </div>
                    <div class="grid footer">
                        <div class="actions">
                            <button *ngIf="account.id == post.userId" (click)="deletePost(post)" mat-icon-button
                                color="primary" aria-label="Example icon button with a heart icon">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button *ngIf="post.link?.length > 0" (click)="navegaWeb(post)" mat-icon-button
                                color="primary" aria-label="Example icon button with a heart icon">
                                <i class="bi bi-link-45deg"
                                    *ngIf="post.tipoPost == 'NORMAL' || post.tipoPost == null"></i>
                                <i class="bi bi-file-pdf" *ngIf="post.tipoPost == 'RECOMENDACAO'"></i>
                                <i class="bi bi-play-btn" *ngIf="post.tipoPost == 'VIDEOS'"></i>
                                <i class="bi bi-file-text" *ngIf="post.tipoPost == 'ARTIGO'"></i>
                                <i class="bi bi-person-video3" *ngIf="post.tipoPost == 'CONFERENCIA'"></i>
                            </button>
                            <button *ngIf="!post.comentarioDeId" mat-icon-button color="primary"
                                aria-label="Comentar esta publicação" (click)="comentar(post.id)">
                                <i class="bi bi-chat-square-text"></i>
                            </button>
                            <button *ngIf="post.comentarioDeId" mat-icon-button color="primary"
                                aria-label="Comentar esta publicação" (click)="comentar(post.comentarioDeId)">
                                <i class="bi bi-chat-square-text"></i>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Curti esta publicação"
                                (click)="curti(post)">
                                <i *ngIf="!curtido(post)" class="bi bi-heart"></i>
                                <i *ngIf="curtido(post)" class="bi bi-heart-fill" style="color: red;">
                                </i>
                            </button>
                            <span class="actions-info">{{post.likeDes.length}}</span>

                        </div>


                    </div>
                </div>
            </div>


        </div>


    </div>

    <div class="sidebar-right">
        <div class="util">
            <div class="card-sidebar-right foco">

            </div>
            <div class="card-sidebar-right destaques">
                # Destaques
            </div>
            <div class="card-sidebar-right parcerias">
                # Projeto
                <div class="image">
                    <a href="https://nemo.inf.ufes.br/" target="_blank">
                        <img src="http://intersep.nemo.inf.ufes.br/wp-content/themes/Nemo/assets/img/nemo-sobre.svg"
                            alt="Acessar link para página Nemo - UFES"
                            style="width: 100px; height: 100px; object-fit: cover;">
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
