<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

<div class="body-adapative">
    <div class="sidebar-left">01</div>

    <div class="item-principal main">

        <!-- Busca -->
        <div class="input-busca" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <input class="input" type="text" placeholder="Busque aqui...">
            <button class="btn"><i class="bi bi-search"></i></button>
        </div>

        <!-- Post -->
        <div class="input-post">
            <textarea class="area-text" maxlength="100" placeholder=" Tudo bem com você?" [(ngModel)]="input"
                (ngModelChange)="checkinput($event)"></textarea>
            <button class="btn btn-cor-secondary"><i class="bi bi-paperclip"></i></button>
            <button class="btn"><i class="bi bi-send"></i></button>
            <input class="block" type="file">
        </div>

        <!-- Separarator -->
        <div class="separator"></div>

    </div>

    <div class="sidebar-right">03</div>
</div>
