@import '../../../content/scss/global.scss';
@import '../../../content/scss/utils';

// .feed {
//   background-color: #e6e6e6;
//   min-height: 1000px;
//   font-family: 'Poppins' !important;

//   .menu-padrao-area {
//     left: 22%;
//     position: fixed;
//     width: 10%;
//   }

//   .destaque-padrao-area {
//     margin-top: 15px;
//     left: 68%;
//     position: fixed;
//     width: 10%;
//   }

//   .linkMenu {
//     display: block;
//     text-align: center;
//     text-decoration: none;
//     margin-top: 10px;
//     color: black;
//     border-left: 3px solid black;
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
//   }

//   .linkMenu:hover,
//   .linkMenu:focus {
//     color: #536dfe;
//     border-left: 10px solid #536dfe;
//   }

//   .reloadbutton {
//     width: 80%;
//     height: 10px;
//     border-radius: 20px;
//     background-color: #536dfe;
//     transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
//   }

//   .reloadbutton:hover,
//   .reloadbutton:focus {
//     width: 20%;
//   }
//   .footer {
//     display: flex;
//     align-items: flex-end;
//   }

//   .post_body {
//     padding: 10px !important;
//     font-family: 'Poppins';
//     font-size: 15px;
//     text-align: left;
//     word-wrap: break-word;
//     margin-left: 45px;
//   }

//   .post_head {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .input-progression {
//     width: 20px !important;
//     height: 20px !important;
//   }
// }

.card {
  border-radius: 8px !important;
  min-height: 130px;
  text-align: center;
  font-family: 'Poppins';
  // box-shadow: 3px 3px 10px #00000066;

  &_post_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
  }

  &_head_time_post {
    font-size: small;
    color: rgb(170, 170, 170);
  }
}

.loading {
  background: linear-gradient(-45deg, #ff6584, #536dfe, #4ea685);
  background-size: 400% 400%;

  animation: gradient 2s ease infinite;
  -webkit-animation: gradient 2s ease infinite;
  -moz-animation: gradient 2s ease infinite;
  -o-animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #536dfe;
}

::ng-deep .mat-progress-bar-buffer {
  background: #fff;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

@media screen and (max-width: 990px) {
  // .feed {
  //   .menu-padrao-area {
  //     left: 12.5%;
  //   }
  //   // .post_head {
  //   //   width: 100px;
  //   // }
  // }
}

@media screen and (max-width: 767px) {
  // .feed {
  //   padding: 20px;
  //   .menu-padrao-area,
  //   .destaque-padrao-area {
  //     display: none;
  //   }
  //   // .post_head {
  //   //   width: 100px;
  //   // }

  //   .post_body {
  //     width: 340px;
  //   }
  // }
}

// Estruturando SCSS
.block {
  display: none;
}

.sidebar-left,
.sidebar-right,
.main {
  padding: 1vw;
}

.main {
  margin-top: 1rem;
  width: 100%;

  .input-busca {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    border-radius: 0.75rem;
    padding: 10px;
    box-shadow: -4px 4px 20px #657cff4a;
    margin-bottom: 30px;
    transition: all 0.3s;

    .input {
      grid-column: 1/5;
      border: 0px;
      background-color: unset;
      &:focus-visible {
        border: 0px;
        outline: unset;
      }
    }

    &:hover,
    &:focus {
      box-shadow: -4px 4px 5px #657cff57;
    }
  }

  .input-post {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;

    background-color: white;
    border: 0px;
    border-left: 4px solid $secondary;
    border-radius: 0.75rem;
    padding: 15px;

    .area-text {
      grid-row: 1 / span 2;
      grid-column: 1 / 5;

      padding: 5px;
      resize: none;
      border: 0px;
      background-color: $base;
      box-shadow: inset 0px 2px 3px #3f3d566e;
      border-radius: 0.75rem;
      width: 100%;
      height: 100%;
      outline: none;
    }

    .link {
      grid-column: 1 / 6;
      transition: all 2s;

      .form-control {
        color: $primary;
        background-color: $base;
        box-shadow: inset 0px 2px 3px #3f3d566e;
        padding-left: 5px;
      }
      .form-group {
        margin: 0px;
      }

      .form-row {
        transition: all 2s;
        display: none;
      }
      .visible {
        display: flex;
      }
    }
  }

  .card-post {
    background-color: white;
    box-shadow: 1px 2px 5px #0000004a;
    border: 0px;
    border-radius: 0.75rem;
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 5px;
    width: 100%;

    .grid {
      display: grid;
      grid-template-columns: 4rem auto 8rem;
    }

    .img {
      background-color: $secondary;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: all 0.3s;
    }

    .date {
      color: $primary2;
      font-size: smaller;
    }

    .header {
      .avatar {
        display: flex;
        align-items: center;
        grid-column: 1;
        cursor: pointer;
        &:hover {
          .img {
            box-shadow: 3px 2px 5px #0000004a;
            transform: scale(1.1);
          }

          .avatar_img {
            box-shadow: 3px 2px 5px #0000004a;
            transform: scale(1.1);
          }
        }
      }
      .nick {
        display: flex;
        align-items: center;
        grid-column: 2;
        // cursor: pointer;
        // &:hover {
        //   text-decoration: underline;
        // }
      }
      .date {
        display: flex;
        align-items: center;
        grid-column: 3;
        justify-content: flex-end;
      }
    }

    .body {
      .corpo {
        height: auto;
        white-space: pre-line;
        overflow: hidden;
        overflow-wrap: anywhere;
        grid-column: 2/4;

        @include responsive(s) {
          grid-column: 1/4;
          margin-top: 3px;
        }
      }
    }

    .footer {
      display: block;
      .actions {
        grid-column: 1/4;
        display: flex;
        justify-content: flex-end;

        &-info {
          display: flex;
          width: 15px;
          align-content: center;
          justify-content: center;
          align-items: center;
          color: $primary2;
          font-size: smaller;
        }

        .mat-primary {
          color: $primary;
        }
        .mat-icon-button {
          font-size: 16px;
        }
      }
    }
  }

  @include responsive(s) {
    margin-top: 70px;
    margin-bottom: 80px;
  }
}

.resposta-mini-card {
  margin-top: 1rem;
  margin-bottom: -40px;
  width: 50%;
  font-size: small;
  background-color: grey;
  border-radius: 0.75rem;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.post_principal {
  margin-bottom: 20px;
}

.input_reposta {
  box-shadow: 1px 2px 5px #0000004a;
  margin-bottom: 20px;
}

.avatar_img {
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  border: 2px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s;
}

.sidebar-left {
  display: flex;
  justify-content: end;

  .util {
    position: fixed;
    width: 200px;
    transition: all 0.3s;
    z-index: 99;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      filter: drop-shadow(2px 2px 20px #7186ff9f);
    }

    @include responsive(s) {
      background-color: white;
    }
  }

  .menu {
    box-shadow: 5px 5px 20px #657cff4a;
    background-color: white;
    width: 100%;
    // height: 500px;
    padding-bottom: 80px;
    margin-top: 2rem;
    border-radius: 0.75rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      box-shadow: 5px 5px 5px #657cff4a;
    }

    .item {
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .imagem_perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      margin-top: 30px;
      margin-bottom: 30px;

      .avatar {
        background-color: $secondary;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid;
        transition: all 0.3s;
      }

      &:hover {
        .avatar {
          box-shadow: 3px 2px 5px #0000004a;
          transform: scale(1.1);
        }
      }
    }

    .sair {
      margin-top: 37px;
    }
  }

  @include responsive(lg) {
    .util {
      width: 200px;
    }
  }

  @include responsive(m) {
    .util {
      width: 150px;
    }
  }

  @include responsive(s) {
    .util {
      position: unset;
      width: 100%;
    }
    .logo {
      position: fixed;
      left: 0;
      top: 0;
      align-items: center;

      img {
        height: 50px;
        transition: all 0.3s;
        &:hover {
          filter: drop-shadow(2px 2px 20px #7186ff9f);
        }
      }
    }
    .menu {
      position: fixed;
      height: 50px;
      bottom: 0;
      left: 0px;
      border-radius: 0px;
      padding-bottom: 0px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0px -5px 7px #657cff4a;

      &:hover {
        box-shadow: 0px -8px 25px #657cff4a;
      }

      .imagem_perfil {
        display: none;
      }

      .sair {
        margin-top: 0px;
      }

      .text-icon {
        display: none;
      }
    }
  }
}

.sidebar-right {
  .util {
    width: 35%;
  }

  .card-sidebar-right {
    background-color: white;
    box-shadow: 1px 2px 5px #0000004a;
    border: 0px;
    border-radius: 0.75rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: 5px;
  }

  .foco {
    height: 4rem;
  }
  .destaques {
    height: 12rem;
  }
  .parcerias {
    height: 10rem;
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @include responsive(s) {
    display: none;
  }
}

.newItem {
  opacity: 0;
  transform: translateY(-100px) rotateX(-90deg);
  animation: grow 0.7s ease-out both;
  -webkit-animation: grow 0.7s ease-out both;
  transition: all 1s;
}
@-webkit-keyframes grow {
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes grow {
  to {
    transform: none;
    opacity: 1;
  }
}

::ng-deep {
  .font_grande_1 {
    * {
      font-size: 18px !important;
    }
  }
  .font_grande_2 {
    * {
      font-size: 20px !important;
    }
  }
  .font_grande_3 {
    * {
      font-size: 22px !important;
    }
  }

  .font_pequena_1 {
    * {
      font-size: 14px !important;
    }
  }

  .dark_mode {
    background-color: $primary !important;
    color: $base !important;

    .card-post,
    .card-sidebar-right,
    .menu,
    .input-post,
    .no-js {
      background-color: $darkmode !important;
      color: $base !important;
    }

    .input-busca {
      background-color: $darkmode !important;
      color: $base !important;

      input {
        color: $base !important;
      }
    }

    .logo {
      img {
        filter: drop-shadow(2px 2px 20px #7186ff9f);
        cursor: pointer;
        transition: all 0.7s;

        &:hover {
          filter: drop-shadow(2px 2px 2px #7186ff9f);
        }
      }

      @include responsive(s) {
        background-color: $darkmode !important;
      }
    }

    .mat-primary {
      color: $base !important;
    }
    .mat-tab-label {
      color: white !important;
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
      background-color: $base !important;
    }

    .mat-dialog-container {
      background-color: $darkmode !important;
    }
  }
}
