<div class="d-flex">

    <div class="col-sm-12 col-md-6 h-100 mt-4 conteudo">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div style="align-items: center; align-content: center; display: flex; flex-direction: column;">
                    <img src="../../../content/images/logoNome.png" width="140px">
                    <h1 class="mt-3" style="text-align: center; font-weight: bold;">Novo Cadastro</h1>
                </div>


                <div class="alert alert-success" *ngIf="success">
                    <strong>Cadastro Realizado!</strong> Em instantes será direcionado para pagina principal.
                </div>

                <div class="alert alert-danger" *ngIf="error">
                    <strong>Falha no Cadastro!</strong> Por favor, tente novamente mais tarde.
                </div>

                <div class="alert alert-danger" *ngIf="errorUserExists">
                    <strong>Nome de Login já registrado!</strong> Por Favor escolha outro.
                </div>

                <div class="alert alert-danger" *ngIf="errorEmailExists">
                    <strong>Email já em uso!</strong> Por Favor escolha outro.
                </div>

                <div class="alert alert-danger" *ngIf="doNotMatch">
                    As duas senhas não coincidem!
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                    <div class="form-group">
                        <!-- <label class="form-control-label" for="login">Nick</label> -->
                        <input type="text" class="form-control inputLogin" id="login" name="login"
                            placeholder="Nome de Usuário" formControlName="login" #login>

                        <div
                            *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required">
                                Este campo é obrigatório. Ele será usada para conseguir acessar a plataforma.
                            </small>

                            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
                                Seu nome de usuário tem que ser maior que 1 caracter.
                            </small>

                            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
                                Seu nome de usuário não pode ser maior que 50 caracteres.
                            </small>

                            <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
                                Seu nome de usuário deve conter apenas letras e números.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <label class="form-control-label" for="email">E-mail</label> -->
                        <input type="email" class="form-control inputLogin" id="email" name="email" placeholder="E-mail"
                            formControlName="email">

                        <div
                            *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required">
                                Este campo é obrigatório.
                            </small>

                            <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid">
                                Email inválido.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- <label class="form-control-label" for="password">Senha</label> -->
                        <input type="password" class="form-control inputLogin" id="password" name="password"
                            placeholder="Senha" formControlName="password">

                        <div
                            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                            <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required">
                                Este campo é obrigatório.
                            </small>

                            <small class="form-text text-danger"
                                *ngIf="registerForm.get('password')?.errors?.minlength">
                                Sua senha deve conter ao menos 4 caracteres.
                            </small>

                            <small class="form-text text-danger"
                                *ngIf="registerForm.get('password')?.errors?.maxlength">
                                Sua senha não pode conter mais que 50 caracteres.
                            </small>
                        </div>

                        <!-- <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value">
                        </jhi-password-strength-bar> -->
                    </div>

                    <div class="form-group">
                        <!-- <label class="form-control-label" for="confirmPassword">Confirme a Senha</label> -->
                        <input type="password" class="form-control inputLogin" id="confirmPassword"
                            name="confirmPassword" placeholder="Confirme a Senha" formControlName="confirmPassword">

                        <div
                            *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                                Este campo é obrigatório.
                            </small>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <button type="submit" [disabled]="registerForm.invalid"
                            class="btn buttonEntrar ">Cadastrar</button>

                        <button type="button" onClick="history.go(-1)" class="btn buttonVoltar mt-2">Voltar</button>

                    </div>
                </form>

                <!-- <div class="mt-3 alert alert-warning">
                <span>If you want to </span>
                <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br />-
                    Administrator (login="admin" and password="admin") <br />- User (login="user" and
                    password="user").</span>
            </div> -->
            </div>
        </div>
    </div>

    <div class="col-md-6 d-none d-md-block">
        <div class="imageFloat">
            &nbsp;
        </div>
        <div class="circleFloat" id="circleFloat">
            &nbsp;
        </div>
    </div>
</div>
