@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~@angular/material/theming';
@include mat-core();
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

button:focus {
  outline: none !important;
}

.invalid {
  border-color: $danger;
}

.modal-backdrop.show {
  opacity: 0;
}

$primary: #3f3d56;
$secondary: #536dfe;
$success: #4ea685;
$danger: #ff6584;
$base: #e6e6e6;

$primary1: #535167;
$secondary1: #657cff;
$success1: #60af92;
$danger1: #ff7591;
$base1: #e9e9e9;

$primary2: #6f6e80;
$secondary2: #7e92fe;
$success2: #7abca4;
$danger2: #ff8ca3;
$base2: #ececec;

$primary3: #9f9eab;
$secondary3: #a9b6ff;
$success3: #a7d3c2;
$danger3: #ffb2c2;
$base3: #f3f3f3;

$darkmode: #47464e;

// tamanho de telas
$container-xl: 1840px;
$container-lg: 1440px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
  @if $device == xl {
    // Maior que 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == lg {
    // Entre 1140 e 1440px
    @media screen and (min-width: $container-lg) and (max-width: $container-xl) {
      @content;
    }
  } @else if $device == m {
    // Entre 960 e 1140
    @media screen and (min-width: $container-m) and (max-width: $container-lg) {
      @content;
    }
  } @else if $device == s {
    // Menor que 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // Menor que 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

body {
  background-color: $base !important;
  color: $primary !important;
  transition: all 0.3s;
}

.body_dark {
  background-color: $primary !important;
  color: $base !important;
}

.btn {
  border-radius: 2rem !important;
}
.btn:hover,
.btn:focus {
  box-shadow: unset;
}

* {
  font-family: 'Poppins' !important;
  font-weight: 400;
  font-style: normal;
}

.container-fluid {
  @include responsive(s) {
    padding-left: unset;
    padding-right: unset;
  }
}

.body-adapative {
  display: grid;
  grid-template-columns: 30% 38% 30%;
  grid-gap: 1vw;

  .item-principal {
    grid-column: 2;
  }

  @include responsive(s) {
    grid-template-columns: auto;

    .item-principal {
      grid-column: unset;
    }
  }
}

/* width */
::-webkit-scrollbar {
  max-width: 7px;
  max-height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $primary;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

::-webkit-input-placeholder {
  /* Edge */
  color: $primary2;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: $primary2;
}

::placeholder {
  color: $primary2;
}
