<div>
    <h2 id="page-heading">
        <span>Profiles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Profile
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profiles?.length === 0">
        <span>No profiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profiles && profiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ultimaModificacao"><span>Ultima Modificacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numModificacao"><span>Num Modificacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span>Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="auditoryDisabilities"><span>Auditory Disabilities</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="blindness"><span>Blindness</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="colorVision"><span>Color Vision</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contrastSensitivity"><span>Contrast Sensitivity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fildOfVision"><span>Fild Of Vision</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lightSensitivity"><span>Light Sensitivity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="visualAcuity"><span>Visual Acuity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="education"><span>Education</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="experienceLevel"><span>Experience Level</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="language"><span>Language</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profile of profiles ;trackBy: trackId">
                    <td><a [routerLink]="['/profile', profile.id, 'view']">{{ profile.id }}</a></td>
                    <td>{{ profile.status }}</td>
                    <td>{{ profile.ultimaModificacao | date:'medium' }}</td>
                    <td>{{ profile.numModificacao }}</td>
                    <td>{{ profile.age }}</td>
                    <td>{{ profile.auditoryDisabilities }}</td>
                    <td>{{ profile.blindness }}</td>
                    <td>{{ profile.colorVision }}</td>
                    <td>{{ profile.contrastSensitivity }}</td>
                    <td>{{ profile.fildOfVision }}</td>
                    <td>{{ profile.lightSensitivity }}</td>
                    <td>{{ profile.visualAcuity }}</td>
                    <td>{{ profile.education }}</td>
                    <td>{{ profile.experienceLevel }}</td>
                    <td>{{ profile.gender }}</td>
                    <td>{{ profile.language }}</td>
                    <td>
                        {{ profile.userLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profile', profile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="profiles && profiles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
