<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-profile-heading">Create or edit a Profile</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NOVO">NOVO</option>
                        <option value="ATUAL">ATUAL</option>
                        <option value="LEGADO">LEGADO</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ultimaModificacao">Ultima Modificacao</label>
                    <div class="d-flex">
                        <input id="field_ultimaModificacao" type="datetime-local" class="form-control" name="ultimaModificacao" formControlName="ultimaModificacao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numModificacao">Num Modificacao</label>
                    <input type="number" class="form-control" name="numModificacao" id="field_numModificacao"
                           formControlName="numModificacao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                           formControlName="age"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_auditoryDisabilities">Auditory Disabilities</label>
                    <input type="checkbox" class="form-control" name="auditoryDisabilities" id="field_auditoryDisabilities"
                           formControlName="auditoryDisabilities"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_blindness">Blindness</label>
                    <input type="checkbox" class="form-control" name="blindness" id="field_blindness"
                           formControlName="blindness"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_colorVision">Color Vision</label>
                    <input type="checkbox" class="form-control" name="colorVision" id="field_colorVision"
                           formControlName="colorVision"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_contrastSensitivity">Contrast Sensitivity</label>
                    <input type="checkbox" class="form-control" name="contrastSensitivity" id="field_contrastSensitivity"
                           formControlName="contrastSensitivity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fildOfVision">Fild Of Vision</label>
                    <input type="checkbox" class="form-control" name="fildOfVision" id="field_fildOfVision"
                           formControlName="fildOfVision"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lightSensitivity">Light Sensitivity</label>
                    <input type="checkbox" class="form-control" name="lightSensitivity" id="field_lightSensitivity"
                           formControlName="lightSensitivity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_visualAcuity">Visual Acuity</label>
                    <input type="checkbox" class="form-control" name="visualAcuity" id="field_visualAcuity"
                           formControlName="visualAcuity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_education">Education</label>
                    <input type="text" class="form-control" name="education" id="field_education"
                           formControlName="education"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_experienceLevel">Experience Level</label>
                    <input type="text" class="form-control" name="experienceLevel" id="field_experienceLevel"
                           formControlName="experienceLevel"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Gender</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_language">Language</label>
                    <input type="text" class="form-control" name="language" id="field_language"
                           formControlName="language"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_listFriends">List Friends</label>
                    <select class="form-control" id="field_listFriends" multiple name="listFriends" formControlName="listFriends">
                        <option [ngValue]="getSelected(editForm.get('listFriends')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
